PORT=3000

DATABASE_URL=postgresql://usuario:senha@localhost:5432/barbearia

WHATSAPP_TOKEN=seu_token_do_whatsapp
WHATSAPP_PHONE_NUMBER_ID=id_do_numero_do_whatsapp

WEBHOOK_VERIFY_TOKEN=seu_token_de_verificacao

WHATSAPP_ADMIN_PHONE=5522999999999

META_APP_SECRET=seu_app_secret_da_meta
